/* white: #FCFFFD; */
/* dark blue: #274648; */
/* salmon: #C74D4D; */

/* Helper Classes */
.color-dark_blue { color: #274648; }
.color-salmon { color: #C74D4D; }
.uppercase { text-transform: uppercase; }

/* GLOBAL STYLES */
html {
  font-size: 62.5%;
  background-color: #FCFFFD;
}

body {
  letter-spacing: .12em;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  background-image: linear-gradient(to top, #ffffff 0%, rgba(233,240,255,1) 100%);
}
@media screen and (max-width:980px) {

}
@media screen and (max-width:768px) {
  body {
    font-size: 1.4rem;
  }
}

a.project-link {
  color: #C74D4D;
}

.title {
  font-weight: 400;
  color: #274648;
}
.title .title-span {
  font-weight: 400;
}
@media screen and (max-width: 375px) {
  .title { font-size: 2rem; }
  .title .title-span { font-size: 2.5rem; }
}
@media screen and (min-width: 376px) and (max-width: 500px) {
  .title { font-size: 2.5rem; }
  .title .title-span { font-size: 3rem; }
}
@media screen and (min-width: 501px) and (max-width: 576px) {
  .title { font-size: 3rem; }
  .title .title-span { font-size: 3.5rem; }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .title { font-size: 4rem; }
  .title .title-span { font-size: 4.5rem; }
}
@media screen and (min-width: 769px) and (max-width: 936px) {
  .title { font-size: 5rem; }
  .title .title-span { font-size: 6rem; }
}
@media screen and (min-width: 937px) and (max-width: 974px) {
  .title { font-size: 5.5rem; }
  .title .title-span { font-size: 6.5rem; }
}
@media screen and (min-width: 975px) {
  .title { font-size: 7rem; }
  .title .title-span { font-size: 8rem; }
}

h2 {
  font-size: 4.2rem;
  font-weight: 300;
  line-height: 1.2em;
}

h3 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

li {
  margin-bottom: .75rem;
}

/* Main Container */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}
@media screen and (max-width:768px) {
  .main-container {
    height: auto;
  }
}

/* Lead */
.lead {
  margin-bottom: 8rem;
}
@media screen and (max-width: 768px){
  .lead { margin-bottom: 10rem; }
  .title:not(:last-child) { margin-bottom: 6rem; }
}

/* Recent Projects / Brand History */
h3.section-header {
  margin-bottom: 3rem;
  display: inline-block;
  position: relative;
}
h3.section-header::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 1px;
  top: 160%;
  left: 0;
  border-bottom: 3px solid #274648;
}
@media screen and (max-width:768px) {
  .recent-projects {
    margin-bottom: 2rem;
  }

  .brand-history .column-1 {
    padding-bottom: 0;
  }
  .brand-history .column-2 {
    padding-top: 0;
  }
}
